<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Guida ai Canali</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'MovieNews/HomePage/styleHome.css' %}">
</head>
<body>

<nav class="user-menu">
  {% if user != None %}
  <span>Ciao, {{ user }}</span>
  <a href="{% url 'login' %}">Logout</a>
  <a href="{% url 'personal' %}" class="view-content">I tuoi contenuti</a>
  {% endif %}

  {% if user == None %}
  <span>Per iscriverti ad uno dei canali presenti effettua prima l'accesso --> </span>
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</nav>

<main>
  <section class="channel-guide">
    {% for channel in rss %}
    <article class="channel">
      <img src="{{ channel.imagine.url }}">
      <div class="channel-info">
        <h3>{{ channel.channel_name }}</h3>
        <p class="channel-summary">{{ channel.description }}</p>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="url_rss" value="{{ channel.url }}">
          {% if user != None %}
            {% if not channel in sub_url %}
              <button type="submit" class="subscribe-button">Iscriviti</button>
            {% endif %}
            {% if channel in sub_url %}
              <button type="submit" class="unsubscribe-button">Disiscriviti</button>
            {% endif %}
          {% endif %}
        </form>
      </div>
    </article>
    {% endfor %}
  </section>
</main>

</body>
</html>
