<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'MovieNews/MovieLogin/styleLogin.css' %}">
</head>
<body class="login-body">

<div class="login-container">
  {% if errormex %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <form class="login-form" method="POST">
    {% csrf_token %}
    <h2>Login</h2>
    <input type="text" placeholder="User" name="user" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Login</button>
    <p>Non hai un account? <a href="{% url 'reg' %}">Registrati</a></p>
  </form>
</div>

</body>
</html>
