<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registrazione</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'MovieNews/MovieLogin/styleLogin.css' %}">
</head>
<body class="registration-body">

<div class="registration-container">
  {% if mex %}
    <p class="error">{{ mex }}</p>
  {% endif %}
  <form class="registration-form" method="POST">
    {% csrf_token %}
    <h2>Registrazione</h2>
    <input type="text" placeholder="Nome" name="nome" required>
    <input type="text" placeholder="User" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Crea Account</button>
    <p>Hai già un account? <a href="{% url 'login' %}">Accedi</a></p>
  </form>
</div>

</body>
</html>
