<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registrazione</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'MovieNews/MovieLogin/styleLogin.css' %}">
</head>
<body class="registration-body">

<div class="registration-container">
  <form class="registration-form">
    <h2>Registrazione</h2>
    <input type="text" placeholder="Nome" required>
    <input type="email" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <button type="submit">Crea Account</button>
    <p>Hai già un account? <a href="login.html">Accedi</a></p>
  </form>
</div>

</body>
</html>
